[submodule "external/sg_sound"]
	path = external/sg_sound
	url = https://github.com/supergoongaming/sg_sound.git
[submodule "external/sg_engine"]
	path = external/sg_engine
	url = https://github.com/supergoongaming/sg_engine.git
